/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS GERAIS */
/*------------------------------------------------------------------------------------------------------------------------------*/

body {
    background-color:#B76E79;
  }
p {
    color: #fff;
    font-family: 'Indie Flower';
    font-size: 20px;
    text-align: justify;
    text-align-last: center;
    letter-spacing: 1px;
    line-height: 1.35;
    word-spacing: 3px;
}
h4 {
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: Verdana;
    font-size: 20px;
}
hr {
    width: 80vw;
    margin: 1.5rem auto;
    height: 5px;
    border: none;
    background-color: black;
  }

/*----------------------*/
/*    Menu superior:    */
/*----------------------*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    display: inline;
    padding: 30px;
}
.menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.menu li a:hover {
    color: green;
}

/*-------------------------*/
/*         Footer:         */
/*-------------------------*/
footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
}
.iconefooter {
    width: 40px;
    height: 40px;
    padding: 10px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS DO INDEX: */
h1 {
    color: rgb(0, 3, 168);
    text-align: center;
    font-family: Verdana;
    font-size: 40px;
    text-shadow: 3px 3px 15px rgb(117, 102, 253);
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS DO INTERNAS E EXTERNAS */
h2 {
    color: rgb(234, 250, 8);
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
}
h3 {
    color: rgb(63, 126, 0);
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
}




