/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS GERAIS QUE VÃO EM TODAS AS PÁGINAS*/
/* Menu superior: */
#menu {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

/*????????????????????????????*/
/* Tem como estilizar a <hr>? */
/*????????????????????????????*/

/* Footer: */
#rodape {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
}
/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS DO INDEX: */

#titulozao {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#intro {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#video {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

/*?????????????????????????????????????????????????????????????????????????????????????????????????*/
/*ELE TÁ RECONHECENDO QUE O VIDEOTEXTO E O VIDEOARTICLE SÃO CONTAINERS (UNS DENTRO DOS OUTROS), MAS PQ ELE NÃO TÁ ALINHANDO OS TEXTOS NO MEIO???*/
/*?????????????????????????????????????????????????????????????????????????????????????????????????*/

#videotexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}
#videoarticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS DO INTERNAS E EXTERNAS */

#manchete{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}

/*?????????????????????????????????????????????????????????????????????????????????????????????????*/
/*ELE TÁ RECONHECENDO QUE O MANCHETETEXTO É UM CONTAINER (UNS DENTRO DOS OUTROS), MAS PQ ELE NÃO TÁ ALINHANDO OS TEXTOS NO MEIO???*/
/*?????????????????????????????????????????????????????????????????????????????????????????????????*/

#manchetetexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.asplantas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.planta {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}

.plantatexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS DO CONTATO */

#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*????????????????????????????????????????????*/
/* NÃO TÔ CONSEGUINDO ALINHAR ESSE FORMULÁRIO */
/*????????????????????????????????????????????*/


#endereco {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}

#enderecotexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


