/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS GERAIS QUE VÃO EM TODAS AS PÁGINAS*/
/* Menu superior: */
#menu li {
    display: inline;
    padding: 30px;
}
#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#menu li a:hover {
    color: green;
}

/*????????????????????????????*/
/* Tem como estilizar a <hr>? */
/*????????????????????????????*/

/* Footer: */
#rodape {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
}
#footerredes a img {
    width: 40px;
    height: 40px;
    padding: 10px;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS DO INDEX: */

#titulozao {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#intro {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#intro article {
    padding: 160px;
    text-align: justify;
}
#intro img {
    padding: 50px;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}


#video {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/*?????????????????????????????????????????????????????????????????????????????????????????????????*/
/*ELE TÁ RECONHECENDO QUE O VIDEOTEXTO E O VIDEOARTICLE SÃO CONTAINERS (UNS DENTRO DOS OUTROS), MAS PQ ELE NÃO TÁ ALINHANDO OS TEXTOS NO MEIO???*/
/*?????????????????????????????????????????????????????????????????????????????????????????????????*/

#videotexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}
#videoarticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS DO INTERNAS E EXTERNAS */

#manchete{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}

/*?????????????????????????????????????????????????????????????????????????????????????????????????*/
/*ELE TÁ RECONHECENDO QUE O MANCHETETEXTO É UM CONTAINER (UNS DENTRO DOS OUTROS), MAS PQ ELE NÃO TÁ ALINHANDO OS TEXTOS NO MEIO???*/
/*?????????????????????????????????????????????????????????????????????????????????????????????????*/

#manchetetexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.asplantas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.planta {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}

.plantatexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*------------------------------------------------------------------------------------------------------------------------------*/
/* ESTILOS DO CONTATO */

#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*????????????????????????????????????????????*/
/* NÃO TÔ CONSEGUINDO ALINHAR ESSE FORMULÁRIO */
/*????????????????????????????????????????????*/


#endereco {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-content: center;
}

#enderecotexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


